VITE_API_URL=http://localhost:3001/api
VITE_CAKTO_OFFER_ID=

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=caloritrack
JWT_SECRET=caloritrack-secret-change-in-production
PORT=3001

CAKTO_CLIENT_ID=
CAKTO_CLIENT_SECRET=
CLIENT_URL=http://localhost:5173
